@model Waterful.Wechat.ViewModels.WeixinPayPayVM
@{
    ViewData["Title"] = "微信支付";
}

<div class="pay-content content-wrapper" id="pop-pay-msg">
    <div class="images"><img src="~/images/pay/refresh.png"></div>
    <div class="pay-describe-no-b">加载中，请稍后…</div>
</div>

<div class="pay-content content-wrapper hidden" id="pop-scs-msg">
    <div class="images"><img src="~/images/pay/success.png"></div>
    <div class="pay-describe">支付成功&nbsp;我们会尽快为您发货！</div>
    <div class="pay-order-number">订单号：@Model.OrderNo</div>
    <div class="pay-order-amount">金额：@Model.Amount.ToString("F2") 元</div>
    <div class="pay-button">
        <a href="@Url.Action("Index","Home")" class="button1">再逛逛</a>
        <a href="@Url.Action("Details","Order",new { id=Model.OrderId})" class="button2">查看订单</a>
    </div>
</div>
<div class="pay-content content-wrapper hidden" id="pop-fai-msg">
    <div class="images"><img src="~/images/pay/error.png"></div>
    <div class="pay-describe">支付失败&nbsp;请重新支付</div>
    <div class="pay-order-number">订单号：@Model.OrderNo</div>
    <div class="pay-order-amount"></div>
    <div class="pay-button">
        <a href="javascript:void(0);" onclick="weixinPayEvent();" class="button3" id="repay">重新支付</a>
        <a href="@Url.Action("Details","Order",new { id=Model.OrderId})" class="button2">查看订单</a>
    </div>
</div>

<script type="text/javascript">
             // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
        //document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        //    weixinPayEvent();
        //}, false);
        weixinPayEvent();


        var p_hdcss = "pay-content content-wrapper hidden",
            p_swcss = 'pay-content content-wrapper',
            p_paymsg = document.getElementById("pop-pay-msg"),
            p_scsmsg = document.getElementById("pop-scs-msg"),
            p_faimsg = document.getElementById("pop-fai-msg");

        function weixinPayEvent() {
            WeixinJSBridge.invoke('getBrandWCPayRequest', {
                    "appId": "@Model.AppId", //公众号名称，由商户传入
                    "timeStamp": "@Model.TimeStamp", //时间戳
                    "nonceStr": "@Model.NonceStr", //随机串
                    "package": "@Model.Package",//扩展包
                    "signType": "MD5", //微信签名方式:MD5
                    "paySign": "@Model.PaySign" //微信签名
                }, function (res) {
                  p_paymsg.setAttribute('class', p_hdcss);
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        p_scsmsg.setAttribute('class', p_swcss);
                        p_faimsg.setAttribute('class', p_hdcss);
                    } else{
                        p_faimsg.setAttribute('class', p_swcss);
                        //alert(res.err_msg + "__|__" + res.err_desc);
                    }
                });
        }

</script>